@charset "utf-8";
/* CSS Document */
.dgCarousel
{
	position: relative !important;
}

.dgCarousel li
{
	display:inline-block !important;
	overflow:hidden !important;
	position: absolute !important;
	/* Change any item below as you see fit */
	border: 1px solid black; 
	background: #FFF;
	border-radius: 4px;	
	-moz-border-radius: 4px;
}

.dgCarousel li .mask
{
	position:absolute !important;
	width: 100% !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	/* Change any item below as you see fit */
	background-color:#FFF;
}

